#hamburger {
    display:none;
}
nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
}
nav ul {
    float: left;
    background-color: darkred;
    color: white;
    list-style-type: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
nav ul li {
    float: left;
    padding-right: 0 25px 0 25px;
    position: relative;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Georgia, serif;
    font-size: 15px;
}
nav ul li a:hover {
    color: #c1c1c1;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: darkred;
}
nav ul li ul li a {
    padding: 8px 15px;
}
nav ul li:hover ul {
    display: block;
}
nav > ul::after {
    content: "";
    display: block;
    clear: both;
}
nav ul li ul li a:hover {
    color: #c1c1c1;
}

@media only screen and (max-width: 640px) {
    #hamburger {
        display: inline-block;
        padding-left: 20px;
        width: 20px;
    }
    nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 20px 20px 20px 0px;
        top: 20px;
    }
    nav:hover ul{
        display: block;
    }
    nav:hover #mobileHide {
        display: none;
    }
    nav>ul li {    
        text-align: center;     
        float: left;
    }
    nav ul li ul {       
        display: none; 
    }
}