nav {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: darkred;
}
.menu {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, serif;
}
.menu li {
    list-style-type: none;
    width: 125px;
    padding: 15px 15px 15px 20px;
    margin: 0px 20px 25px;
    text-align: center;
    position: relative;
}
.menu li ul{
    display: none;
    position: absolute;
    background-color: darkred;
    left:0;
}
.menu li:hover ul {
    display: block;
}
nav > ul::after {
    content: "";
    display: block;
    clear: both;
}
.menu li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Georgia, serif;
    font-size: 15px;
}
.menu li ul li a {
    display: block;
    text-decoration: none;
    color: white;
}
.menu li a:hover {
    color: #c1c1c1;
}
.menu li ul li a:hover {
    color: #c1c1c1;
}
label {
    display:none;
    font-size: 20px;
    width: 25px;
}
#toggle {
    display: none;
}

@media only screen and (max-width: 640px) {
    label {
        display: block;
        padding-left: 20px;
        width: 20px;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    } 
    .menu li ul {
        width: 100%;
        z-index: 1;
    }
}