@font-face {
    font-family: Raleway;
    src: url("Raleway-ExtraLightItalic.ttf");
}
h1 {
    font-family: Georgia, serif;
    color:#910e0e;
}
h4 {
    font-family: Georgia, serif;
    color:#910e0e;
}
blockquote {
    font-family: Raleway, serif;
}
p {
    padding: 20px;
    margin: 0;
    color:#7F1D08;
    font-family: Times, serif;
}
p + p {
    text-indent: 30px;
}
h4 + p {
    text-indent: 30px;
}
p::first-letter {
    font-weight: bold;
    font-size: large;
}
main a {
    background-color: lightgrey;
    border: 3px solid #7F1D08;
}
img {
    width: 400px;
    height: auto;
}
.gridA {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 5fr 1fr 1fr;
    gap: 1em;
    grid-template-areas:
        "cell1A cell2A"
        "cell3A cell3A"
        "cell4A cell4A";
}
.cell1A {
    grid-area: cell1A;
    width: 90%;
    height: auto;
    padding-left: 15px;
    padding-top: 20px;
}
.cell2A {
    grid-area: cell2A;
    padding-left: 15px;
    padding-top: 20px;
}
.cell3A {
    grid-area: cell3A;
    justify-self: center;
    padding-left: 15px;
}
.cell4A {
    grid-area: cell4A;
    justify-self: left;
    padding-left: 15px;
}
@media screen and (max-width: 640px) {
    .gridA{
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cell1A"
            "cell2A"
            "cell3A"
            "cell4A";
    }
    .cell1A {
        grid-area: cell1A;
        padding-left: 10px;
        justify-self: center;
    }
    .cell2A {
        grid-area: cell2A;
        padding-left: 10px;
    }
    .cell3A {
        grid-area: cell3A;
        justify-self: center;
        padding-left: 10px;
    }
    .cell4A {
        grid-area: cell4A;
        padding-left: 10px;
    }
}
.gridB {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2em;
    grid-template-areas: "cell1B cell2B";
}
.cell1B {
    grid-area: cell1B;
    justify-self: center;
    padding: 20px;
}
.cell2B {
    grid-area: cell2B;
    justify-self: center;
    padding: 20px;
}
@media screen and (max-width: 640px) {
    .gridB {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "cell1B"
            "cell2B";
    }
    .cell1B {
        grid-area: cell1B;
        justify-self: center;
        padding: 10px;
    }
    .cell2B {
        grid-area: cell2B;
        justify-self: center;
        padding: 10px;
    }
}
.gridC {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "cell1C cell2C"
        "cell4C cell3C"
        "cell5C cell6C"
        "cell8C cell7C"
}
.cell1C {
    grid-area: cell1C;
    justify-self: center;
    padding: 20px;
}
.cell2C {
    grid-area: cell2C;
    justify-self: center;
    padding: 20px;
}
.cell3C {
    grid-area: cell3C;
    justify-self: center;
    padding: 20px;
}
.cell4C {
    grid-area: cell4C;
    justify-self: center;
    padding: 20px;
}
.cell5C {
    grid-area: cell5C;
    justify-self: center;
    padding: 20px;
}
.cell6C {
    grid-area: cell6C;
    justify-self: center;
    padding: 20px;
}
.cell7C {
    grid-area: cell7C;
    justify-self: center;
    padding: 20px;
}
.cell8C {
    grid-area: cell8C;
    justify-self: center;
    padding: 20px;
}
@media screen and (max-width: 640px) {
    .gridC {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,1fr);
        grid-template-areas:
            "cell1C"
            "cell2C"
            "cell3C"
            "cell4C"
            "cell5C"
            "cell6C"
            "cell7C"
            "cell8C"
    }
    .cell1C {
        grid-area: cell1C;
        justify-self: center;
        padding: 10px;
    }
    .cell2C {
        grid-area: cell2C;
        justify-self: center;
        padding: 10px;
    }
    .cell3C {
        grid-area: cell3C;
        justify-self: center;
        padding: 10px;
    }
    .cell4C {
        grid-area: cell4C;
        justify-self: center;
        padding: 10px;
    }
    .cell5C {
        grid-area: cell5C;
        justify-self: center;
        padding: 10px;
    }
    .cell6C {
        grid-area: cell6C;
        justify-self: center;
        padding: 10px;
    }
    .cell7C {
        grid-area: cell7C;
        justify-self: center;
        padding: 10px;
    }
    .cell8C {
        grid-area: cell8C;
        justify-self: center;
        padding: 10px;
    }
}
@media print {
    * {
        color: black !important;
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font-family: 'Times New Roman', Times, serif;
    }
    header {
        text-align: center;
    }
    nav {
        display: none;
    }
    body {
        margin: 1in;
    }
    p {
        font-size: 11pt;
    }
    img {
        height: 150px !important;
        width: auto !important;
    }
    a[href]::after {
        content: " ["attr(href)"]";
    }
    .gridA{
        display: grid;
        gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cell1A"
            "cell2A"
            "cell3A"
            "cell4A";
    }
    .cell1A {
        grid-area: cell1A;
        justify-self: center;
    }
    .cell2A {
        grid-area: cell2A;
    }
    .cell3A {
        grid-area: cell3A;
        justify-self: center;
    }
    .cell4A {
        grid-area: cell4A;
    }
}